
body {
    background-image: url('Images/world.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

}

.container {
    margin: auto;
    width: 400px;
    height: 600px;
    max-height: 800px;
    border: 1px solid #8a8888;
    background-color: black;
    box-shadow: 0px 2px 7px #8a8888;
    -moz-box-shadow: 0px 2px 7px #8a8888;
    -webkit-box-shadow: 0px 2px 7px #8a8888;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    position: relative;
    
}
.mainbody {
    margin-top: 0;
    height: 500px;
    min-height: 150px;
    max-height: 500px;
    overflow: auto;
    text-align: center;
    background-color: black;
}
.header {
    height: 55px;
    border-bottom: 1px solid #8a8888;
    background-color: black;
    height: 55px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    line-height: 80%;
    text-align: center;
}

form {
    width: 300px;
    max-width: 55%;
    margin: auto;

}

.input {
    font-family: 'Share Tech Mono', monospace;
    color: lime;
    margin-top: 5px;
    background-color: black;
    font-size: 1rem;
    width: 100%;
    display: block;
    padding: 0.5rem 0.5rem;
    border: 1px solid #8a8888;
}

.input::placeholder {
    font-family: 'Share Tech Mono', monospace;
    color: lime;

}

.todos {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    background-color: black;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #8a8888;
    border-left: 1px solid #8a8888;
    border-right: 1px solid #8a8888;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;

}

.todos li.completed {
    color: #8a8888;
    text-decoration: line-through;

}

.title1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Share Tech Mono', monospace;
    color: lime;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.date1 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Share Tech Mono', monospace;
    color: lime;
    white-space: nowrap;
    overflow: hidden;
    position: relative;


}

.dateWritten {

    font-family: 'Share Tech Mono', monospace;
    color: lime;

}

/* Animation */
#parent {
    animation: animated-text 2s steps(30,end) 1s 1 normal both
  }
  
  
  /* text animation */
  
  @keyframes animated-text{
    from{width: 0;}
    to{width: 395px;}
  }

  #parent2 {
    animation: animated-date 2s steps(30,end) 3s 1 normal both;
  }

  @keyframes animated-date{
    from{width: 0;}
    to{width: 395px;}
  }